<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Money tracker web app</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>Welcome to Money Tracker Web App</h1>
    </header>
    <main>
        <section id="expenses">
            <h2>Expenses<span id="expenses-text">(Budget tracker)</span></h2>
            <ul id="expense-list" class="transaction-list"></ul>
            <form action="/transaction" name="forms" method="post" id="expense-form" class="transaction-form">
                <div class="form-group">
                    <label for="Item-name">Item name</label>
                    <input type="text" id="Item-name" name="name" placeholder="Enter the item name">
                </div>
                <div class="form-group">
                    <label for="Item-price">Item price</label>
                    <input type="text" id="Item-price" name="price" placeholder="Enter the item price">
                </div>
                <div class="form-buttons">
                    <input type="submit" value="Add transaction" id="submit-btn">
                </form>
                <form action="/delete" method="get">
                    <input type="submit" id="delete-btn" value="Delete"/>
                </form>
                <form action="/modify" method="get">
                    <input type="submit" id="modify-btn" value="Modify"/>
                </form>
                </div>
            
        </section>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>
