body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

#expenses {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

#expenses h2 {
    margin-top: 0;
}

.transaction-list {
    list-style-type: none;
    padding: 0;
}

.transaction-list li {
    margin-bottom: 10px;
}

.transaction-form .form-group {
    margin-bottom: 10px;
}

.transaction-form .form-group label {
    display: block;
}

.transaction-form .form-group input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.transaction-form .form-buttons {
    display: flex;
    justify-content: flex-end;
}

.transaction-form .form-buttons input[type="submit"],
.transaction-form .form-buttons button {
    padding: 8px 16px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4CAF50;
    color: #fff;
}

.transaction-form .form-buttons input[type="submit"]:hover,
.transaction-form .form-buttons button:hover {
    background-color: #45a049;
}

.error{
    color: red;
    font-size: 12px;
}
 #expenses-text{
    font-size : 20px;
 }

